@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

body{
    position: relative;
    background-color:#000;
    color: #fff;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 12px;
    /* margin-top: 10px; */
    /* box-shadow: 0 0 10px white; */
}

header .logo .div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo{
    margin-left: 20px;
}

.logo .div li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:yellowgreen;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 0 10px white;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar{
    margin-left: 400px;
}

header .navbar ul li a{
    color: #fff;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
}


header .navbar ul li a:hover{
    text-decoration: underline;
}

header .button{
    margin-right: 20px;
}

header .button .btn{
    width: 130px;
    padding: 10px;
    background-color:transparent;
    box-shadow: 0 0 15px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}


.btn:hover{
    scale: 1.1;
    border-radius: 0px;
}

/* ====================================Home(Hero)======================================= */

.home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 70px;
}

.home .image{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 22px 30px blue;
}

.home .image img{
    width: 320px;
    height: 318px;
    border-radius: 50%;
}

.home .home-content{
    text-align: center;
}

.home-content h3{
    color: gray;
}

.home-content h1{
    font-size: 39px;
    font-weight: bold;
}
.home-content h2{
    font-size: 30px;
    font-weight: bold;
    color: yellowgreen;
}


.home .home-content .buttton{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttton  .h-btn{
    width: 150px;
    padding: 10px;
    background-color:transparent;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 0 0 6px white;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
}

.h-btn:hover{
    scale: 1.1;
    border-radius: 1px;
    box-shadow: 0 10px 30px blue;
    border: 1px solid white;
    outline:none;
}

.home-content .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.social-media li{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    outline:1px solid  gray;
    border: none;
    box-shadow: 0 12px 20px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: .4s;
}


.social-media li:hover{
    scale: 1.2;
    box-shadow:  0  22px 30px yellowgreen;
}



/*=========Responsive Code=========== */

@media (max-width:1070px){
    .navbar{
        margin-left: 10px;
    }
}

@media (max-width:800px){
    .home{
        display: block;
        text-align: center;
    }
     .center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
     }
}

@media (max-width:700px){
    .navbar{
        display: none;
    }
}